<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block" style="background-image: url(https://i.pinimg.com/736x/76/c4/05/76c4055d65396688f90a88e2dd4d91b8.jpg);"></div>
              <div class="col-lg-7">
                  <div class="p-5">
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Add Product</h1>
                      </div>
                      <form class="user">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user"
                              placeholder="Name Product">
                      </div>
                        <div class="form-group">
                              <input type="text" class="form-control form-control-user"
                                  placeholder="Product registration code">
                        </div>
                    <div class="form-group">
                          <textarea name="" id="" cols="30" rows="3" class="form-control form-control-user"  placeholder="Description"></textarea>
                    </div>
                     <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user" placeholder="Cost Price">
                        </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user"  placeholder="Sell Price">
                      </div>
                    </div>

                    <div class="form-group">
                      <input type="text" class="form-control form-control-user"
                          placeholder="Import Quantity">
                </div>

                <div class="form-group">

                  <input type="text" class="form-control form-control-user"
                      placeholder="Expiration date _dd/mm/yyyy_">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <!-- // thuc len category day -->
                  <select name="" id="" class="form-control form-control-user">
                    <option value="">hoa phat</option>
                    <option value="">bambo</option>
                  </select>
                </div>

            <div class="col-sm-6">
              <select name="" id="" class="form-control form-control-user">
                <option value="">hoa phat</option>
                <option value="">bambo</option>
              </select>
              </div>
            </div>
                <div class="form-group">
                  <input type="submit" class="form-control form-control-user"
                     value="SAVE" style="background-color:#2e59d9;color: #fff;">
                </div>

                </form>

                  </div>
              </div>
          </div>
      </div>
  </div>


</div>

