<div class="container">
  <div class="row">
    <h1 class="mx-auto">Add Product </h1>
   </div>
  <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">

              <div class="col-lg-7">
                  <div class="p-5">
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Add 123 Product</h1>
                      </div>
                      <form class="user">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user"
                              placeholder="Name Product">
                      </div>
                        <div class="form-group">
                              <input type="text" class="form-control form-control-user"
                                  placeholder="Product registration code">
                        </div>
                    <div class="form-group">
                          <textarea name="" id="" cols="30" rows="3" class="form-control form-control-user"  placeholder="Description"></textarea>
                    </div>
                     <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user" placeholder="Cost Price">
                        </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user"  placeholder="Sell Price">
                      </div>
                    </div>

                    <div class="form-group">
                      <input type="text" class="form-control form-control-user"
                          placeholder="Import Quantity">
                </div>

                <div class="form-group">

                  <input type="text" class="form-control form-control-user"
                      placeholder="Expiration date _dd/mm/yyyy_">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <!-- // thuc len category day -->
                  <select name="" id="" class="form-control form-control-user">
                    <option value="">hoa phat</option>
                    <option value="">bambo</option>
                  </select>
                </div>

            <div class="col-sm-6">
              <select name="" id="" class="form-control form-control-user">
                <option value="">hoa phat</option>
                <option value="">bambo</option>
              </select>
              </div>
            </div>
                <div class="form-group">
                  <button type="submit"
                  class="form-control-user  btn btn-danger btn-lg btn-block"

                  [disabled]="isLoading ">
                    <h2 *ngIf="isLoading "
                     class="spinner-border spinner-border-sm mr-2 "></h2>
                    {{ isLoading ? 'Loading...' : 'Delete' }}
                  </button>

                </div>

                </form>

                  </div>
              </div>
              <div class="col-lg-5  d-lg-block" style="background-image: url(https://i.pinimg.com/736x/76/c4/05/76c4055d65396688f90a88e2dd4d91b8.jpg);"></div>
          </div>
          <div class="row">
            <button type="submit"
            class="form-control-user btn btn-danger btn-lg btn-block"

            [disabled]="isLoading ">
              <h2 *ngIf="isLoading "
               class="spinner-border spinner-border-sm mr-2 "></h2>
              {{ isLoading ? 'Loading...' : 'Delete' }}
            </button>
          </div>
      </div>
  </div>


</div>

